flow.json
[{"id":"bc403fd1.1b096","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"161f5a01.3f4546","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"affcabf9.5a2868","type":"mongodb","z":"","hostname":"oc-nr-meta-mongodb1.oc-node-red-meta-project-1.svc","port":"27017","db":"oc-nr-meta-mongo-db-1","name":"oc-nr-meta-mongo"},{"id":"69f54122.5e5a2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"7f11badc.67bac4","type":"ui_group","z":"","name":"UIGrupoUno","tab":"69f54122.5e5a2","disp":true,"width":"6","collapse":false},{"id":"3d4f55cc.bc6c8a","type":"marko-ui","z":"bc403fd1.1b096","name":"","projectName":"node-red-project-meta-expander","path":"/opt/app-root/src/.node-red/projects/node-red-project-meta-expander","templatesFolder":"components","template":"test1","field":"payload","x":587.1000061035156,"y":217,"wires":[["1352863c.ca302a"]]},{"id":"b5eb9ee9.009f6","type":"csv","z":"bc403fd1.1b096","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","x":347,"y":494.3999938964844,"wires":[["3d4f55cc.bc6c8a"]]},{"id":"1352863c.ca302a","type":"http response","z":"bc403fd1.1b096","name":"","statusCode":"200","headers":{},"x":853.1000137329102,"y":242.20005226135254,"wires":[]},{"id":"93280f9c.50b62","type":"http in","z":"bc403fd1.1b096","name":"","url":"/meta/csv","method":"post","upload":false,"swaggerDoc":"","x":105,"y":490.3999938964844,"wires":[["b5eb9ee9.009f6"]]}]